<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/deal.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">


    <title>GreenDeals</title>
</head>
<body>

    <header>
        <div class="header_top">
        <div class="logo_div">
            <a class="logo" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/portfo.jpg') }}" alt="Logo GreenDeals"> GreenDeals
            </a>
        </div>
        <div class="login_div">
            <a class="login" href="{{ url_for('login') }}"><button> Login</button></a>
            <img src="{{ url_for('static', filename='images/portfo.jpg') }}" alt="Logo GreenDeals">
        </div>
    </div>


        <div class="search_and_nav">
        <div class="search-bar">
            <form id="search-form" action="#" method="GET">
                <input id="search-input" class="searchbar" type="text" placeholder="Recherche dans les deals">
                <button type="submit"  class="search-button">Rechercher</button>
            </form>
        </div>

        <div class="nav">
            <ul>
                <li><a class="hotdeals" href="#">Hot Deals</a></li>
                <li><a class="recent" href="#">Recents</a></li>
                <li><a href="{{ url_for('mypage') }}">My Page</a></li>
            </ul>
        </div>
    </div>



    </header>

	<main>


        <section class="about_me">
            <img src="{{ url_for('static', filename='images/moi.jpg') }}" alt="Photo de Lamine">
            <h2>Lamine</h2>
            <h3>Développeur & Manager de projet</h3>
            <p>🔹 (Etudiant à Holbertonschool en premiére année fondamentaux de programattion)</p>
            <div>
                <ul>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="LinkedIn"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub"></a>
                    </li>
                </ul>
            </div>

        </section>

        <section class="about_app">
            <h2>Qu'est-ce que GreaDeals ?</h2>
            <p>application Web collaborative où la communauté partage des offres durables.
                Les utilisateurs publient des promotions et votent pour évaluer leur pertinence économique ainsi que leur respect de l’environnement.
                Grâce à ce système participatif, chacun peut découvrir et soutenir des offres alliant pouvoir d’achat et engagement écologique.</p>
        </section>

        <section class="why_greadeals">
            <h2>Pourquoi GreaDeals ?</h2>
            <p> ()</p>
        </section>

        <section class="contact_me">
            <h2>Contactez-moi</h2>
            <form action="#" method="POST">
                <div class="input-group">
                    <input type="text" name="nom" placeholder="Votre nom" required>
                    <input type="text" name="prenom" placeholder="Votre prénom" required>
                </div>
                <input type="email" name="email" placeholder="Votre email" required>
                <textarea name="message" placeholder="Votre message" rows="5" required></textarea>
                <button type="submit">Envoyer</button>
            </form>
        </section>



	</main>


    <footer>
        <div class="contact">
            <ul>
                <li>
                    <a href="https://github.com/Xdamix1991">
                        <img src="/statics/images/github.png" alt="GitHub icon" class="github-icon">
                        <span>GitHub</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/statics/images/linkedin.png" alt="LinkedIn icon" class="linkedin-icon">
                        <span>LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/statics/images/animal.png" alt="School icon" class="school-icon">
                        <span>Holberton School</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="legacy">
            <p>&copy; 2025 GreenDeals. Tous droits réservés. Créé à <a href="https://www.holbertonschool.com" target="_blank">Holberton School</a>.</p>
        </div>
        <div class="navigation-footer">
            <ul>
                <li>
                    <a href="#">
                        <span>Home</span>
                        <img src="/statics/images/home.png" alt="GitHub icon" class="github-icon">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Contacts</span>
                        <img src="/statics/images/phone-book.png" alt="GitHub icon" class="github-icon">
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('about') }}">
                        <span>A propos de nous</span>
                        <img src="/statics/images/id-card.png" alt="GitHub icon" class="github-icon">
                    </a>
                </li>
            </ul>
        </div>

    </footer>



</body>

</html>
