<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

    <title>GreenDeals</title>
</head>
<body>
    <header>
        <div>
            <a class="logo" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/portfo.jpg') }}" alt="Logo GreenDeals"> GreenDeals
            </a>
        </div>


        <div class="search_and_nav">
        <div class="search-bar">
            <form id="search-form" action="#" method="GET">
                <input id="search-input" class="searchbar" type="text" placeholder="Recherche dans les deals">
                <button type="submit"  class="search-button">Rechercher</button>
            </form>
        </div>

        <div class="nav">
            <ul>
                <li><a class="hotdeals" href="#">Hot Deals</a></li>
                <li><a class="recent" href="#">Recents</a></li>
                <li><a href="{{ url_for('mypage') }}">My Page</a></li>
            </ul>
        </div>
    </div>


        <div>
            <a class="login" href="{{ url_for('login') }}"><button> Login</button></a>
        </div>

    </header>


    <main>


        <h1>Work in Progress register</h1>
        <div class="register_container">
            <p>Remplissez les champs</p>
            <div class="regiser_cards">

                    <label for="pseudo">Pseudo</label>
                    <input type="text" id="pseudo" placeholder="choisissez un peudo">

                    <label for="firstName">Nom</label>
                    <input type="text" id="firstName" placeholder="Nom" required>

                    <label for="lastName">Prénom</label>
                    <input type="text" id="lastName" placeholder="Prénom" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Votre Email" required>

                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" placeholder="Choisissez un mot de passe" required>

                    <button type="submit" id="soumettre">Soumettre</button>

            </div>
        </div>
    </main>

    <footer>
        <div class="contact">
            <ul>
                <li>
                    <a href="https://github.com/Xdamix1991">
                        <img src="/statics/images/github.png" alt="GitHub icon" class="github-icon">
                        <span>GitHub</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/statics/images/linkedin.png" alt="LinkedIn icon" class="linkedin-icon">
                        <span>LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/statics/images/animal.png" alt="School icon" class="school-icon">
                        <span>Holberton School</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="legacy">
            <p>&copy; 2025 GreenDeals. Tous droits réservés. Créé à <a href="https://www.holbertonschool.com" target="_blank">Holberton School</a>.</p>
        </div>
        <div class="navigation-footer">
            <ul>
                <li>
                    <a href="#">
                        <span>Home</span>
                        <img src="/statics/images/home.png" alt="GitHub icon" class="github-icon">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Contacts</span>
                        <img src="/statics/images/phone-book.png" alt="GitHub icon" class="github-icon">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span>A propos de nous</span>
                        <img src="/statics/images/id-card.png" alt="GitHub icon" class="github-icon">
                    </a>
                </li>
            </ul>
        </div>

    </footer>

    <script src="{{ url_for('static', filename='js/regScript.js')}}"></script>
    <script src="{{ url_for('static', filename='js/login.js')}}"></script>


</body>

</html>
