.login-container {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 600px;
    align-items: center;
    background: linear-gradient(to bottom, rgba(147, 196, 125, 1) 0%, rgba(147, 196, 125, 0) 100%);
    justify-content: space-around;
    padding: 30px;
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    transition: box-shadow 0.2s ease-in-out;
    margin: 20px auto;
}

.login-container:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.logi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 40px;
    align-items: center;
}
.logi div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

    align-items: center;
}
.logi p {

    font-weight: bolder;
    font-size: 30px;

    color: #000;
    margin-bottom: 20px;
}
.logi input {
    width: 80%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

.logi input:hover, .logi input:focus {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}



.login-container button {
    display: block;
    width: 221px;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(189, 178, 34) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.login-container button:hover {
    background-color: #ff7100;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.user_register {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.user_register:hover {
    color: #e66000;
}

@media (max-width: 768px) {
    .login-container {
        width: 90%;
        max-width: 350px;
        padding: 20px;
    }

    .logi input {
        width: 100%;
        max-width: 230px;
    }

    .login-container button {
        width: 130px;
        font-size: 16px;
    }
}
