html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;


}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;


}

header {
    background: linear-gradient(to bottom, rgba(147, 196, 125, 1) 0%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    justify-content: space-around;
    align-items:start;
    padding: 15px 25px;
    height: 300px;  /* hauteur du header */
    flex-wrap: nowrap;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    background: white;
    border-radius: 25px;
    padding: 10px 15px;

    transition: box-shadow 0.2s ease-in-out;
    height: 30px;  /* hauteur de la logo box */
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    transition: box-shadow 0.2s ease-in-out;
}

.logo:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 15px;
    border-style: solid;
    border-radius: 50%;
}

.search_and_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.search-bar {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 30px;  /* hauteur de la search bar */

}
.login_div {
    display: flex;
    align-items: center;
    justify-content: center;
}
#search-form {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 25px;
    padding: 10px 15px;
    width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    height: 25px;  /*  hauteur de la search form */
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    transition: box-shadow 0.2s ease-in-out;
}

#search-form:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

#search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px;
    background: transparent;
}

#search-input::placeholder {
    color: #aaa;
}

.search-button {
    background: #1a1715;
    border: none;
    color: white;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    height: 35px;  /*  hauteur du bouton de recherche */
}

.search-button:hover {
    background: #e66000;
}

/* === NAVIGATION BAR STYLING === */

.nav {
    margin-top: 15px;
    background: white;
    border-radius: 25px;
    padding: 10px 15px;

    z-index: 10;
    height: 20px;  /*  hauteur de la navigation */
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    transition: box-shadow 0.2s ease-in-out;
}

.nav:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.nav ul {
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    height: 100%;  /*hauteur du menu est égale à celle de la nav */
}

.nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    height: 100%;  /* hauteur des liens de la nav */
    display: flex;
    align-items: center;
}

.nav ul li a:hover {
    background: #ff7100;
    color: white;
}
.login_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
    background: white;
    border-radius: 25px;
    padding: 10px 15px;


    height: 30px;  /*  hauteur du bouton de login */
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    transition: box-shadow 0.2s ease-in-out;
}
.login_div img {
    width: 50px;
    height: auto;
    margin-right: 15px;
    border-style: solid;
    border-radius: 50%;
}
/* === FIN NAVIGATION === */
.login {

    font-size: 28px;
    text-decoration: none;
    font-weight: bold;

}

.login button {
    text-decoration: none;
    background: none;
    font-size: 28px;
    font-weight: bold;
    padding: 8px 15px;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    height: 25px;  /*  hauteur du bouton à l'intérieur de login */
}

.login_div:hover {
    background-color: #ff7100;
}

.filters_bar {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background: linear-gradient(to bottom, rgba(147, 196, 125, 1) 0%, rgba(147, 196, 125, 0) 100%);
    padding: 15px;
    margin: 15px 0;
    border-radius: 15px;
    font-size: 18px;
    color: #fff;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    transition: box-shadow 0.2s ease-in-out;
}

.filters_bar label {
    color: #080101;
    font-weight: bold;
}

.filters_bar select,
.filters_bar input {
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-button {
    font-size: 18px;
    padding: 8px 15px;
    background-color: #fff;
    color: #040a01;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    height: 30px;  /*  hauteur du bouton de filtre */
}

.filter-button:hover {
    background-color: #ff7100;
    color: white;
}


/* === DEALS LIST AND CONTAINER STYLES === */

.deals_list, .results_bar, .deal_filters {
    width: 100%;
    max-width: 1400px;
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(147, 196, 125, 1) 0%, rgba(147, 196, 125, 0) 100%);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 5px solid rgb(231, 255, 220);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    transition: box-shadow 0.2s ease-in-out;

}



.deal_container, #results_bar, #deal_filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    width: 100%;
    max-width: 1300px;

}

.deal_details {
    display: flex;
    flex-direction: row;

    padding: 15px;
    gap: 20px;
    background-color: #fff;
    border-radius: 40px;

    position: relative;
    min-height: 200px; /* Pour garantir une hauteur minimale */
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    transition: box-shadow 0.2s ease-in-out;
}

.deal_details:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Augmente l'ombre au survol */
}

/* Contenu de gauche : image */
.deal_details .deal-image {
    width: 250px;
    min-width: 150px;
    height: auto;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.3s ease-in-out;
}
.deal-image img {
    width: 95%;
    height: 200px;
    background-color: rgba(36, 41, 35, 0.05);
    border-radius: 25px;
    box-shadow: 1px -2px 2px 2px rgba(0, 0, 0, 0.3);

}
.deal_details .deal-image .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(36, 41, 35, 0.05);
    border-radius: 25px;
    width: 100px;
    height: 40px;

}
.deal-image .user img{
    width: 25px;
    height: 25px;
}
.deal-image{
    display: flex;
    flex-direction: column;
}
.vote-buttons{
    display: flex;
    flex-direction: row;
}
.deal_details .deal-image:hover {
    transform: scale(1.1); /* Zoom sur l'image au survol */
}

/* Contenu de droite : informations */
.deal_text_content {
    max-width: 980px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* En-tête : titre et prix */
.deal_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.deal_details .title {
    font-size: 20px;
    font-weight: bold;
    overflow-y: auto;
    overflow: hidden;      /* Cache le texte qui dépasse */
    text-overflow: ellipsis; /* Ajoute "..." à la fin */

    color: #333;
    margin-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

.deal_details .title:hover {
    color: #e66000;
}

.deal_details .price {
    font-size: 22px;
    font-weight: bold;
    color: #e66000;
    margin-bottom: 8px;
    transition: color 0.3s ease-in-out;
}


/* Box de description */
.deal_details .description {
    font-size: 14px;
    color: #444;
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 12px;
    margin: 10px 0;
    flex: 1;
    height: 84px;
    max-height: 150px; /* Hauteur maximale pour environ 6 lignes */
    overflow-y: auto; /* Ajoute un scrollbar */
    line-height: 1.5;
    margin-bottom: 50px; /* Espace pour le bouton en bas */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.description {
    white-space: pre-wrap;
}

.description p {
    margin: 0;
}

/* Bas de carte : localisation, catégorie ... */
.deal_footer {
    display: flex;
    display: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.deal_details .location,
.deal_details .category,
.deal_details .reparability,
.deal_details .comment{
    text-decoration: none;
    font-size: 14px;
    color: #666;
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.reparability-icon {
    width:90px;
    height:30px;
}

.deal_details .category:hover,
.deal_details .comment:hover {
    background-color: #e66000;
    color: #fff;
}

/* Bouton d'action */
.deal-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #ff7100;
    padding: 8px 15px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.deal-link:hover {
    background-color: #e66000;
}

/* Styles pour les boutons */
.vote-buttons {
    display: flex;
    gap: 20px;

    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}

.green-vote {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to bottom, rgba(147, 196, 125, 1) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 10px;
    height: 20px;
    border-radius: 25px;
}

.price-vote {
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
    background: linear-gradient(to bottom, #e66000 0%, rgba(0, 0, 0, 0) 100%);
    padding: 10px;
    border-radius: 25px;
}


.vote-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vote-btn {
    background: none;
    border: none;

    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease-in-out;
}

.vote-btn  img{
    height: 20px;
    border-radius: 50%;

}
.vote-btn:active {
    transform: scale(1.1);
}

.green-up {
    color: #ff5f5f;
}

.green-down {
    color: #5faaff;
}

.price-up {
    color: #ff5f5f;
}

.price-down {
    color: #5faaff;
}

.vote-counts {
    font-size: 16px;
    font-weight: bold;
    color: #ff5f5f;
    margin: 5px 0;
}
/* === END DEALS STYLING === */

footer {

    background-size: cover; /* Pour que l'image couvre tout l'arrière-plan du footer */
    background-position: center; /* Pour centrer l'image */
    background-repeat: no-repeat; /* Pour éviter que l'image se répète */
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background: linear-gradient(to top, rgba(147, 196, 125, 1) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 20px;
    background-size: contain;
    margin-top: auto;
    height: 300px;
}

footer p {
    text-align: center;
    margin: 10px 0 0;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.navigation-footer ul,
.contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



 .contact ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.navigation-footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

}


.contact ul li a,
.navigation-footer ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid transparent; /* Ajouter une bordure transparente initiale */
    padding: 8px;

    border-radius: 25px;
    transition: all 0.3s ease; /* adoucir l'effet hover */

}

.navigation-footer ul li, .contact ul li {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    width: max-content;
    height: 20px;
    overflow: hidden; /* Évite tout débordement */
    transition: transform 0.3s ease-in-out; /* Animation fluide */

}

.navigation-footer ul li a, .contact ul li a {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacement entre l'icône et le texte */
    transition: transform 0.3s ease-in-out;
}

.navigation-footer ul li:hover a, .contact ul li:hover a {
    transform: translateX(10px); /* Décale doucement vers la droite */
}

.navigation-footer ul li:hover ,.contact ul li:hover {
    background-color: #e66000;
}
footer img.github-icon,
footer img.linkedin-icon,
footer img.school-icon {
    width: 30px;
    height: 30px;
}

/* === MEDIA QUERIES === */

@media (min-width: 768px) and (max-width: 1388px){
    html {
        width: 100%;
    }
    header {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: auto;
    }

    .search_and_nav {
        width: fit-content;
        flex-direction: row;
        gap: 15px;
    }
    .search-bar {
        margin: 15px 0;
    }

    #search-form {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .logo, .login {
        width: fit-content;
        margin: 10px 0;
        font-size: 24px;
        height: 50px;  /* Assure que la logo et le login box ont la même hauteur */
    }

    .nav {
        width: fit-content;
        display: flex;
        flex-direction: row;
        position: relative;
        left: 0;
        margin-top: 15px;
        padding: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .nav ul {
        flex-direction: row;
        gap: 15px;
        text-align: center;
        height: auto; /* Ajuste la hauteur du menu */
    }

    .nav ul li a {
        font-size: 16px;
        padding: 10px 20px;
    }

    .filters_bar {

        flex-direction: row;
        justify-content: center;
        padding: 10px;
        gap: 10px;
        font-size: 16px;
    }



    footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 15px;
    }

    .d-details {
        grid-template-columns: 1fr;
    }
    footer p {
        font-size: 14px;
    }

    .navigation-footer ul,
    .contact ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .navigation-footer ul li a,
    .contact ul li a {
        font-size: 16px;
        padding: 8px;
        text-align: center;
    }
}

/* === MEDIA QUERIES === */


